:root {
    --main-color: #14213d;
    --dark-color: #131e38;
    --second-color: #fca311;
    --body-color: #f3f2ef;
    --white-color: #fff;
    --black-color: #000;
    --half-black-color: #333;
}

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    transition: .4s all ease-in-out;
}

body {
    overflow-x: hidden;
    background-color: var(--body-color);
}


/* -------------------start nav style------------------------- */

.nav {
    background-color: var(--dark-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: var(--white-color);
    height: 56px;
    position: fixed;
    width: 100%;
    z-index: 11111111111111111111;
}

.nav a {
    color: var(--white-color);
}

.nav__child {
    width: 25%;
}

.nav__search div {
    max-width: 80%;
    position: relative;
    left: 20%;
    height: 35px;
    background-color: var(--body-color);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 15% 85%;
    transition: none;
}

.nav__serch__icon {
    text-align: center;
    line-height: 37px;
    color: var(--main-color);
    font-size: 1.5rem;
}

.nav__serch__input {
    background: none;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    color: #333;
}

.nav__links {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}

.nav__links__child {
    font-size: 30px;
    position: relative;
    width: 100%;
    padding: 0 36%;
}

.nav__links__child:hover {
    opacity: .7;
}

.nav__links__child--active {
    color: var(--second-color);
}

.nav__links__child--active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--second-color);
    bottom: -16px;
    left: 0%;
}

.nav__links a {
    width: 25%;
}

.nav__logo {
    display: flex;
    justify-content: space-evenly;
    width: 34%;
}

.nav__logo a {
    width: 30%;
}

.nav__logo_log {
    font-size: 30px;
    width: 50px;
    margin: 9px 52px;
}

.nav__logo_l {
    color: var(--second-color);
    font-family: 'Paytone One';
    font-weight: 600;
    padding: 0 5px;
    font-size: 2rem;
}

.header-component {
    display: flex;
    flex-flow: row nowrap;
    height: 700px;
    background-color: #14213d;
    overflow: hidden;
}

.header-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-left: 100px;
    width: 46%;
    position: relative;
}

.header-content h1 {
    padding-bottom: 30px;
    font-family: Poppins;
    font-size: 57px;
    font-weight: bold;
    text-align: left;
    color: #fff;
}

.header-content p {
    width: 100%;
    padding-bottom: 30px;
    margin: 16px 0 0;
    font-size: 22px;
    font-weight: 300;
    text-align: left;
    color: #fff;
}

.learn-more {
    padding: 15px 25px;
    border-radius: 5px;
    margin-top: 50px;
    max-width: 200px;
    background-color: #fca311;
    font-size: 18px;
    font-weight: 600;
    border: none;
    color: #000;
}

.header-content #play {
    font-size: 25px;
    background-color: var(--second-color);
    max-width: 200px;
    padding: 9px 10px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    left: 220px;
    bottom: 57px;
    border-radius: 5px;
}

.header-content #play i {
    color: var(--main-color);
    font-size: 25px;
    margin: 0px 10px;
    transition: all .3s ease-in;
}

.header-content #play:hover i,
button {
    color: var(--dark-color);
}

.video {
    display: none;
    z-index: 11111111;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.video iframe {
    width: 100%;
    height: 100%;
    width: 100%;
}

.video button {
    background-color: unset;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10%;
    top: 5%;
    color: #f29807;
    z-index: 1;
}

.img {
    width: 54%;
}

.img img {
    width: 100%;
    position: relative;
    height: 650px;
    top: 56px;
    clip-path: polygon(16% 0, 100% 0, 100% 100%, 0% 100%);
}

main {
    position: relative;
}

.title {
    text-align: left;
    color: #010101;
    font-family: Poppins;
    font-size: 50px;
    font-weight: bold;
    margin: 50px 100px;
}

main p {
    text-align: left;
    margin: 50px 100px;
    font-family: Poppins;
    font-size: 24px;
    color: #333;
}

.images {
    display: flex;
    flex-wrap: wrap;
    min-height: 560px;
    width: 94%;
    margin: 100px auto;
    text-align: center;
}

.imag {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.08);
    border: 4px solid #fff;
}

.images p {
    text-align: center;
    margin: 0 auto;
    padding: 20px 26px;
    width: 96%;
    font-size: 18px;
    background-color: #fff;
}

.images img {
    height: 300px;
    width: 100%;
    margin: auto;
    border-radius: 16px;
}

.images .two {
    align-self: flex-start;
}

.images .one,
.images .three {
    align-self: flex-end;
}

.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 60px 20px 60px;
    color: #2f2f2f;
    background-color: #14213d;
    border-top: 1px solid #e5e5e5;
}

.footer>* {
    flex: 1 100%;
}

.footer__addr {
    margin-right: 100px;
    margin-bottom: 2em;
}

.footer__logo {
    font-family: 'Paytone One';
    color: #fca311;
    font-weight: 600;
    font-size: 5rem;
}

.footer-icon {
    width: 16px;
    height: 16px;
    padding-bottom: 4px;
    margin-right: 15px;
}

.footer__addr .img {
    position: relative;
}

.footer__addr img {
    height: 50px;
    margin: 10px;
}

.footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
}

.nav__title {
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
}

.footer address {
    font-style: normal;
    color: #999;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.footer__nav {
    display: flex;
    flex-flow: row wrap;
}

.footer__nav>* {
    flex: 1 50%;
    margin-right: 1.25em;
}

.nav__ul a {
    color: #999;
}

.copyrights {
    color: #fff;
    background-color: #131e38;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 300px;
}

@media (min-width: 40.375em) {
    .footer__nav>* {
        flex: 1;
    }
    .footer__addr {
        flex: 1 0px;
    }
    .footer__nav {
        flex: 2 0px;
    }
}

@media (max-width: 1120px) {
    .nav {
        padding-right: 20px;
    }
    .nav__search div {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    .nav__serch__input {
        display: none;
    }
    .nav__serch__icon {
        width: 40px;
        line-height: 40px;
    }
}

@media (max-width: 990px) {
    .header-component .header-content {
        z-index: 111;
        background-color: #000000b5;
        height: 100%;
    }
    .img {
        position: absolute;
        width: 100%;
        opacity: .7;
    }
    .img img {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .header-component {
        position: relative;
        flex-wrap: wrap;
    }
    .header-component .header-content {
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 30px;
    }
    .header-content p {
        text-align: center;
        width: 90%;
        font-size: 20px;
    }
    .header-content h1 {
        text-align: center;
        font-size: 42px;
    }
    .header-content #play {
        position: relative;
        left: 90px;
    }
    .header-content .learn-more {
        position: relative;
        left: -90px;
    }
    .btn2 a {
        font-size: 16px;
    }
    .images .imag {
        margin-top: 40px;
        width: 90%;
    }
}

@media (max-width: 750px) {
    .nav__search {
        width: 30%;
    }
    .nav__logo {
        width: 70%;
    }
    .nav__links {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: var(--dark-color);
        height: 56px;
        justify-content: center;
    }
    .nav__links__child--active::after {
        bottom: 0;
    }
    .nav__links__child {
        height: 53px;
        padding: 12px 36%;
    }
    .nav__links a {
        width: 20%;
    }
}

@media (max-width: 650px) {
    .block-container .block {
        width: 94%;
    }
    main .title,
    main p {
        text-align: center;
        margin: 20px;
    }
    main p {
        font-size: 20px;
    }
}

@media (max-width: 450px) {
    .header-content p {
        font-size: 20px;
    }
    .header-content h1 {
        font-size: 39px;
    }
    .header-content p {
        font-size: 20px;
        width: 100%;
        line-break: anywhere;
    }
    .learn-more {
        padding: 10px 20px;
        border-radius: 5px;
    }
    .header-content #play {
        bottom: 47px;
        font-size: 20px;
        left: 80px;
    }
    .header-content .learn-more {
        left: -84px;
    }
    .footer__logo {
        font-size: 3.5rem;
    }
    .header-content h1 {
        font-size: 36px;
    }
}